In [4]:
%load_ext autoreload
%autoreload 2
%load_ext lab_black

In [5]:
import pandas as pd
import os

from datasets import FriendEnemy
from utils import format_query

In [9]:
DATASET_NAME = "FriendEnemy"
SEED = 0
data_id = "playground"
data_dir = os.path.join("data", DATASET_NAME, data_id, f"{SEED}")
input_dir = os.path.join(data_dir, "inputs")
entities_path = os.path.join(input_dir, "entities.json")
contexts_path = os.path.join(input_dir, "contexts.json")
queries_path = os.path.join(input_dir, "queries.json")

os.makedirs(input_dir, exist_ok=True)

cc = FriendEnemy(
    max_contexts=100,
    entities_path=entities_path,
    contexts_path=contexts_path,
    queries_path=queries_path,
)

In [3]:
joint_df = cc.get_df_for_scoring()
joint_df.info()

100%|██████████| 2/2 [00:00<00:00, 168.78it/s]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112000 entries, 0 to 111999
Data columns (total 5 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   q_id                 112000 non-null  object
 1   query_form           112000 non-null  object
 2   entity               112000 non-null  object
 3   context              112000 non-null  object
 4   context_is_relevant  112000 non-null  bool
dtypes: bool(1), object(4)
memory usage: 3.5+ MB

In [10]:
qe_df = cc.get_contexts_per_query_entity_df()
print(qe_df.info())
print(qe_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   q_id        219 non-null    object
 1   query_form  219 non-null    object
 2   entity      219 non-null    object
 3   contexts    219 non-null    object
dtypes: object(4)
memory usage: 7.0+ KB
None
           q_id                                query_form  \
0  friend-enemy  Q: Are {} and {} friends or enemies?\nA:
1  friend-enemy  Q: Are {} and {} friends or enemies?\nA:
2  friend-enemy  Q: Are {} and {} friends or enemies?\nA:
3  friend-enemy  Q: Are {} and {} friends or enemies?\nA:
4  friend-enemy  Q: Are {} and {} friends or enemies?\nA:

                              entity  \
0  (Sherlock Holmes, James Moriarty)
1       (Obi Wan Kenobi, Darth Maul)
2     (Harry Potter, Lord Voldemort)
3       (Harry Potter, Draco Malfoy)
4        (Spiderman, Norman Osborne)

                                            contexts
0  [Bill Gates appreciates Warren Buffett.\n, Har...
1  [Bill Gates appreciates Warren Buffett.\n, Har...
2  [Bill Gates appreciates Warren Buffett.\n, Har...
3  [Bill Gates appreciates Warren Buffett.\n, Har...
4  [Bill Gates appreciates Warren Buffett.\n, Har...

In [11]:
qc_df = cc.get_entities_per_query_context_df()
print(qc_df.info())
print(qc_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   q_id        300 non-null    object
 1   query_form  300 non-null    object
 2   context     300 non-null    object
 3   entities    300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB
None
           q_id                                query_form  \
0  friend-enemy  Q: Are {} and {} friends or enemies?\nA:
1  friend-enemy  Q: Are {} and {} friends or enemies?\nA:
2  friend-enemy  Q: Are {} and {} friends or enemies?\nA:
3  friend-enemy  Q: Are {} and {} friends or enemies?\nA:
4  friend-enemy  Q: Are {} and {} friends or enemies?\nA:

                                      context  \
0    Bill Gates appreciates Warren Buffett.\n
1        Harry Potter hates Lord Voldemort.\n
2            Steve Jobs attacks Bill Gates.\n
3  Sherlock Holmes spies on James Moriarty.\n
4     John Adams spies on Thomas Jefferson.\n

                                            entities
0  [(Sherlock Holmes, James Moriarty), (Obi Wan K...
1  [(Sherlock Holmes, James Moriarty), (Obi Wan K...
2  [(Sherlock Holmes, James Moriarty), (Obi Wan K...
3  [(Sherlock Holmes, James Moriarty), (Obi Wan K...
4  [(Sherlock Holmes, James Moriarty), (Obi Wan K...